In [1]:
import geopandas as gpd

In [2]:
openmap_tess = gpd.read_parquet('../../urbangrammar_samba/OS_MasterMap_Buildings_sample/edinburgh_om_tess_clus.pq')

In [3]:
openmap_tess

,uID,geometry,eID,area_t,peri_t,eri,car,xID,area_t_IQR_3steps,peri_t_IQR_3steps,eri_IQR_3steps,car_IQR_3steps,area,cluster,centroid,cluster2,cluster3,cluster4,cluster8
0,28808.0,"POLYGON ((323327.693 677047.578, 323337.464 67...",2,5159.229006,314.978941,0.928618,0.184682,0,3027.958925,144.461052,0.083276,NaN,952.81915,2,POINT (323330.244 676989.944),0,2,1,2
1,63868.0,"POLYGON ((323352.697 676939.561, 323351.579 67...",2,1746.174429,175.680355,0.958999,0.180579,1,2899.439192,128.352832,0.083682,NaN,315.32250,2,POINT (323368.118 676963.530),0,2,1,2
2,63871.0,"POLYGON ((323400.727 676948.184, 323400.420 67...",2,4259.545009,264.488100,1.013661,0.131422,2,2110.953024,117.267309,0.053051,NaN,559.79750,2,POINT (323417.897 676983.559),0,2,1,6
3,63873.0,"POLYGON ((323447.861 676956.646, 323448.273 67...",2,1648.902094,186.754699,0.870435,0.193652,3,2221.871824,131.949727,0.073717,NaN,319.31250,2,POINT (323473.477 676979.093),0,2,1,2
4,63875.0,"POLYGON ((323507.564 676973.756, 323501.218 67...",2,4255.305502,308.315857,0.898764,0.191811,4,2316.734839,128.532921,0.093224,NaN,816.21555,2,POINT (323504.704 677032.630),0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74879,NaN,"POLYGON ((334889.340 661707.240, 334904.310 66...",4411,598.206900,105.744247,1.045748,NaN,74731,1012.098281,69.176730,0.063589,NaN,NaN,2,POINT (334908.250 661691.303),0,2,1,6
74880,NaN,"POLYGON ((334959.150 671384.620, 334954.920 67...",4412,335.125800,80.540303,0.946900,NaN,74732,2291.050467,129.509927,0.085615,NaN,NaN,2,POINT (334946.846 671370.363),0,2,1,2
74881,NaN,"POLYGON ((334961.130 665328.300, 334975.440 66...",4413,268.215000,66.224449,0.990422,NaN,74733,1897.357411,116.958853,0.083002,NaN,NaN,2,POINT (334974.263 665328.501),0,2,1,2
74882,NaN,"POLYGON ((335051.250 661914.606, 335054.630 66...",4414,10.646340,15.569358,0.840680,NaN,74734,1372.349434,82.747297,0.061306,NaN,NaN,2,POINT (335052.377 661911.624),0,2,1,6
74883,NaN,"POLYGON ((317295.320 673640.330, 317301.780 67...",4415,60.414850,37.445401,0.830310,NaN,74735,67509.346916,712.673892,0.086124,NaN,NaN,0,POINT (317303.187 673642.388),1,2,0,5